# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs backup files
*~

# programs:
Code/N2TME
Code/S2TME
Code/TME_compare

# output data files
Data/Forms/*.csv

