# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs backup files
*~


# programs:
Code/cubic_forms_conductor
Code/cubic_forms_support
